.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.App-table {
  display: flex;
  justify-content: start;
}

.App-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 10vmin;
  margin-right: 20px;
}

.App-title {
  color: black
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-right: 50px;
}

.book-cover{
  height: 150px;
  object-fit: contain;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-clip: content-box;
}

.book-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  padding: 0;
  margin-top: 0;
  font-weight: bold;
}

.book-author {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.book-item {
  margin: 10px 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  background-color: #f1f1f167;
  display: inline-block;
}

.book-item-content.selected {
  transform: scale(1.05);
}

.book-item:hover {
  border-color: rgb(148, 0, 254);
}

.book-price {
  font-size: 0.8em;
  color: rgb(148, 0, 254);
  margin-top: -10px;
}

.book-button {
  background-color: rgb(148, 0, 254);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.5em;
  font-weight: bold;
  padding: 10px 20px;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  margin-bottom: 10px;
}

.book-item-button {
  display: flex;
  align-items: center;
}

.book-cover-container {
  position: relative;
}

.book-like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

}
