.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.App-table {
  display: flex;
  justify-content: start;
}

.App-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 10vmin;
  margin-right: 20px;
}

.App-title {
  color: black
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 50px;
}

.book-cover{
  height: 150px;
  object-fit: contain;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-clip: content-box;
}

.book-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  padding: 0;
  margin-top: 0;
  font-weight: bold;
}

.book-item {
  margin: 10px 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  background-color: #f1f1f167;
}

.book-item:hover {
  border-color: blue;
  transform: scale(1.05);
}

.filterComponent {
  margin-right: 20px;
}
